@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Outfit:wght@100;300;500;600;700;900&display=swap");

body,
html {
  font-family: "Inter", sans-serif;
  color: #dcdce2;
  height: 100vh;
  width: 100vw;
  background-image: url("../Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* istruzioni main */

/* home */

.rientro,
.logo,
.centrato,
footer .check {
  margin-left: 10vw;
}

.logo {
  width: 13%;
  margin-top: 5vh;
}

.titolo {
  width: 30%;
}

.titolo h1 {
  font-size: 60px;
  line-height: 3rem;
  padding-top: 6vh;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.grassetto {
  font-weight: 600;
  color: #fff;
}

.istruzioni h2 {
  color: #d20094;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: -15px;
}

.istruzioni {
  width: 60%;
  margin-bottom: 4rem;
}

.testi {
  padding-bottom: 0;
}

p,
.titolo h1 {
  font-weight: 300;
}

.lista {
  line-height: 1.5rem;
  margin-left: -1.5%;
  padding: 0;
  margin-top: -2.5%;
}

footer {
  margin-top: 10vh;
}

footer .check {
  display: inline;
  margin-bottom: 0;
}

#proceed, #next {
  margin-right: 10vw;
}

/* bottoni */

#proceed,
.moreinfo,
#next,
#rate {
  background-color: #00ffff;
  color: #0c113b;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 50px;
  text-decoration: none;
  border: none;
  box-shadow: 0px 0px 18px #00ffff;
}

#proceed,
.moreinfo,
#next,
#rate,
.star {
  cursor: pointer;
}

#proceed,
.moreinfo,
#next,
#rate,
.centro,
.allinea,
.feedback {
  text-align: center;
}

#proceed:hover,
.moreinfo:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
}

#casella,
label {
  height: 2vh;
  vertical-align: top;
}

#casella {
  border: 2px #fff solid;
}

#casella:checked,
#casella {
  background-color: #0c113b;
}

#timer {
  border-radius: 50%;
  margin-right: 5vw;
}
#proceed,
#timer,
#next {
  float: right;
}

.allinea,
.star {
  display: inline-block;
}

.centrato {
  margin-top: 7vh;
}

.inline {
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 20px;
  padding: 30px;
  background-color: purple;
  width: 50%;
}

.centro {
  margin: auto;
}

.allinea {
  width: 33%;
  height: 30vh;
}

#doughnutChart {
  border: none;
  margin-top: 5vh;
}



/* feedback */

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback h1 {
  font-weight: 700;
  font-size: 60px;
  padding-top: 6vh;
}

#stelline {
  padding-top: 6vh;
}

.feedback .opinione {
  margin-top: -5vh;
  font-weight: 300;
}

.recensione {
  margin-top: 6vh;
}

fieldset {
  border: none;
  border-bottom: 2px solid #d20094;
  text-align: left;
  margin-bottom: 10vh;
}

.commento {
  background: none;
  color: #808181;
  border: none;
  font-size: larger;
  margin-left: 1vw;
}

/* stelline */

.star {
  width: 30px;
  height: 30px;
  background-image: url("../Images/star-regular.svg"); /* Immagine stella vuota */
  background-size: cover;
  border: 1px solid transparent; /* Aggiunto il bordo trasparente alle stelle vuote */
  transition: border-color 0.3s; /* Aggiunto un effetto di transizione per una transizione più fluida */
}

.star:hover,
.star.active,
.star.selected {
  background-image: url("../Images/star.svg"); /* Immagine stella piena */
}

/* contatore */

#contatore{
  font-size: 20px;
  margin-left: 10vw;
  display: inline;
}

.divft{
  vertical-align: top;
  margin-bottom: 50px;
}

#chartLegend{
  margin-top: 10px;
}

.allinea h2{
  font-size: 60px;
}


#errate, #giuste{
font-size: 30px;
}