@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Outfit:wght@100;300;500;600;700;900&display=swap");

body,
html {
  font-family: "Inter", sans-serif;
  color: #dcdce2;
  height: 100vh;
  width: 100vw;
  background-image: url("../Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* istruzioni main */

.rientro {
  margin-left: 10vw;
}

.logo {
  width: 13%;
  margin-top: 5vh;
  margin-left: 10vw;
}

.titolo {
  width: 30%;
}

.titolo h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 3rem;
  padding-top: 6vh;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.grassetto {
  font-weight: 600;
  color: #fff;
}

h2 {
  color: #d20094;

  font-size: 2rem;
  font-weight: 600;
  margin-bottom: -15px;
}

.istruzioni {
  width: 60%;
  margin-bottom: 4rem;
}

.testi {

  padding-bottom: 0;


}

p {
  font-weight: 300;
}

.lista {
  line-height: 1.5rem;
  margin-left: -1.5%;
  padding: 0;
  margin-top: -2.5%;
}

footer {
  margin-top: 10vh;
}

footer div {
  margin-left: 10vw;
  display: inline;
  margin-bottom: 0;
}

#proceed {
  float: right;
  margin-right: 10vw;
}

#proceed {
  background-color: #00ffff;
  color: #0C113B;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 18px #00FFFF;
}


#proceed:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
}


#casella,
label {
  height: 2vh;
  vertical-align: top;
}

#casella {
  background-color: transparent;
  border: 2px #fff solid;
}

/* benchmark*/
.domande {
  font-size: 30px;
  width: 40%;
  margin: auto;
  font-weight: 300;
  margin-top: 10%;
}


.timer {
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: chartreuse;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
}

.contatore {

  width: 40%;
  margin: auto;
  font-weight: bold;
  margin-top: 10%;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;


}



/* feedback */

.feedback h1 {
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  padding-top: 6vh;
}